**Assignment2 - Visualisations (Yozlem Ramadan and Malgorzata Zdych)**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt

In [2]:
file = 'Data_related_jobs_glassdoor.csv'
df = pd.read_csv(file, header=None, names = [
    "company",
    "job title",
    "location",
    "job description",
    "salary estimate",
    "company_size",
    "company_type",
    "company_sector",
    "company_industry",
    "company_founded",
    "company_revenue",
    "hourly",
    "rating",
    "python_yn",
    "spark_yn",
    "azure_yn",
    "aws_yn",
    "excel_yn",
    "machine_learning_yn",
    "job_simpl",
    "seniority",
    "description_len",
    "company_age"
])
ten_rows = df.head(10)
display(ten_rows)

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,python_yn,spark_yn,azure_yn,aws_yn,excel_yn,machine_learning_yn,job_simpl,seniority,description_len,company_age
0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,python_yn,spark_yn,azure_yn,aws_yn,excel_yn,machine_learning_yn,job_simpl,seniority,description_len,company_age
1,Microsoft,Data & Applied Scientist,"Redmond, WA",Microsoft 365 is a key part of the company�s c...,123486,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1975,...,1,0,0,1,0,1,data scientist,junior,359,47
2,UT Southwestern Medical Center,Data Scientist or Bioinformatician (remote),Remote,Center Information:\nThe Quantitative Biomedic...,93500,10000+ Employees,Hospital,Healthcare,Health Care Services & Hospitals,1943,...,1,0,0,0,0,1,data scientist,mid,267,79
3,Notion,"Data Scientist, Growth","New York, NY",About Us:\nWe're on a mission to make it possi...,137853,201 to 500 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2016,...,1,0,0,0,0,0,data scientist,Senior,589,6
4,Net2Aspire,Jr. Data Scientist,Remote,? Apply Statistical and Machine Learning metho...,72500,Unknown,Company - Public,NaN,NaN,NaN,...,0,0,0,0,0,1,data scientist,junior,132,NaN
5,Ntropy Network,Data Scientist,Remote,"Over the last few decades, technological innov...",155000,1 to 50 Employees,Company - Private,NaN,NaN,NaN,...,1,0,0,1,0,0,data scientist,mid,522,NaN
6,PayPal,Data Scientist,"Chicago, IL","At PayPal (NASDAQ: PYPL), we believe that ever...",109837,10000+ Employees,Company - Public,Information Technology,Internet & Web Services,1998,...,1,0,0,0,0,1,data scientist,Senior,618,24
7,"Pomeroy Technologies, LLC.",Data Scientist,Remote,Data Scientist--Remote\n(company is based in t...,110000,1001 to 5000 Employees,Subsidiary or Business Segment,Information Technology,Information Technology Support Services,1982,...,0,0,0,0,0,0,data scientist,mid,140,40
8,Delta,"Associate Data Scientist, Operations Decision ...","Atlanta, GA","United States, Georgia, Atlanta\nOps Control\n...",103268,10000+ Employees,Company - Public,Transportation & Logistics,"Airlines, Airports & Air Transportation",1928,...,1,0,0,0,0,1,data scientist,junior,249,94
9,Booz Allen Hamilton,"Tech Excellence Data Scientist, Junior","Alexandria, VA",The Challenge:\nAre you excited at the prospec...,102817,10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1914,...,1,0,0,0,1,1,data scientist,junior,570,108

**1. Dataset overview**<br>

In [3]:
important_columns = ["company", "job title", "location", "salary estimate", "company_type", "company_industry", "company_revenue", "python_yn", "seniority", "company_age"]

**Numerical values**

In [11]:
numeric_columns = ['salary estimate', 'company_revenue', 'company_age']

numeric_data = df.iloc[1:, [df.columns.get_loc(col) for col in numeric_columns]]

numeric_data = numeric_data.apply(pd.to_numeric, errors='coerce')

minimum_values = {}
maximum_values = {}
average_values = {}

for column in numeric_columns:
    minimum_values[column] = numeric_data[column].min()
    maximum_values[column] = numeric_data[column].max()
    average_values[column] = numeric_data[column].mean()

summary_stats = pd.DataFrame({
    'Minimum': minimum_values,
    'Maximum': maximum_values,
    'Average': average_values,
    'Missing Percentage': missing_percentages,
})

print(summary_stats)

                 Minimum   Maximum        Average
salary estimate   3760.0  297000.0  108768.642994
company_revenue      NaN       NaN            NaN
company_age          1.0     397.0      57.255965

**Non-numerical values**

In [14]:
numeric_columns = ["company", "job title", "location", "company_type", "company_industry", "python_yn", "seniority",]

numeric_data = df.iloc[1:, [df.columns.get_loc(col) for col in numeric_columns]]

common_values = df[important_columns].mode().iloc[0]

common_values = {}
missing_percentages = {}

for column in numeric_columns:
    common_values[column] = numeric_data[column].mode().iloc[0]
    missing_percentages[column] = (numeric_data[column].isnull().sum() / len(df)) * 100

summary_stats = pd.DataFrame({
    "Common Values (Mode)": common_values,
    'Missing Percentage': missing_percentages,
})

print(summary_stats)

                     Common Values (Mode)  Missing Percentage
company                  I28 Technologies            0.000000
job title                  Data Scientist            0.000000
location                           Remote            0.000000
company_type            Company - Private            8.009592
company_industry  Internet & Web Services           24.748201
python_yn                               1            0.000000
seniority                          Senior            0.000000